<?php include $this->admin_tpl('header');?>
<style>
    .layui-breadcrumb {visibility: visible;}
</style>
<body>
<div class="weadmin-nav">
			<span class="layui-breadcrumb">
       		 <a href="">首页</a><span lay-separator="">/</span>
        	<a href="">角色管理</a><span lay-separator="">/</span>
            <a><cite>权限管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-sm" style="float:right;margin-top: 5px" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon">&#xe9aa;</i></a>
</div>
<div class="page-container" style="margin-top: 15px;">

    <form class="layui-form" action="" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">选择权限</label>
            <div class="layui-input-block">
                <div id="LAY-auth-tree-convert-index"></div>
            </div>
        </div>
        <input type="hidden" name="roleid" value="<?php echo $roleid?>"></input>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit" name="dosubmit">提交</button>
            </div>
        </div>
    </form>


</div>
<?php include $this->admin_tpl('footer');?>
<script type="text/javascript">
    layui.extend({
        authtree: '<?php echo STATIC_URL;?>js/extends/authtree'
    });
    //使用拓展模块
    layui.use('authtree', function(){
        var admin = layui.admin;
    });

    layui.use(['jquery', 'authtree', 'form', 'layer'], function(){
        var $ = layui.jquery;
        var authtree = layui.authtree;
        var form = layui.form;
        var layer = layui.layer;
        $.ajax({
            url:"<?php echo U('role_priv',['do'=>1,'roleid'=>$_GET['roleid']])?>",
            dataType: 'json',
            success: function(res){
                console.log(res.data.checkedId)
                $('#LAY-auth-tree-convert-code').text(JSON.stringify(res, null, 2));
                // 深坑注意：如果API返回的数据是字符串，那么 startPid 的数据类型也需要是字符串
                var trees = authtree.listConvert(res.data.list, {
                    primaryKey: 'id'
                    ,startPid: '0'
                    ,parentKey: 'parentid'
                    ,nameKey: 'name'
                    ,valueKey: 'id'
                    ,checkedKey: res.data.checkedId
                });
                authtree.render('#LAY-auth-tree-convert-index', trees, {
                    inputname: 'menuid[]',
                    layfilter: 'lay-check-convert-auth',
                    openall: true,
                    autowidth: true,
                    autoclose:false
                });
            }
        });
    });


    /*function checknode(obj){
        var chk = $("input[type='checkbox']");
        var count = chk.length;
        var num = chk.index(obj);
        var level_top = level_bottom =  chk.eq(num).attr('level');
        for (var i=num; i>=0; i--){
            var le = chk.eq(i).attr('level');
            if(eval(le) < eval(level_top)) {
                chk.eq(i).attr("checked",'checked');
                var level_top = level_top-1;
            }
        }
        for (var j=num+1; j<count; j++){
            var le = chk.eq(j).attr('level');
            if(chk.eq(num).attr("checked")=='checked') {
                if(eval(le) > eval(level_bottom)) chk.eq(j).attr("checked",'checked');
                else if(eval(le) == eval(level_bottom)) break;
            }else {
                if(eval(le) > eval(level_bottom)) chk.eq(j).attr("checked",false);
                else if(eval(le) == eval(level_bottom)) break;
            }
        }
    }*/
</script>
</body>
</html>